.main-header {
    .navbar {
        padding-left: 0;
        .navbar-brand {
            width: 280px;
            padding: 0 15px;
            a {
                color: #ffffff;
            }
            #sidebar-toggler {
                float: right;
                cursor: pointer;
            }
        }
    }
}
